@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  transition: background 0.5 ease, color 0.5 ease;
  font-family: "Roboto", sans-serif;
}
